<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    {% block content %}{% endblock content %}
    <footer class="footer">
        <div class="footer-logo">
            <span class="footer-r">R</span>
        </div>
        <div class="footer-subscribe">
            <div class="subscribe-form">
                <input type="email" placeholder="Email" class="subscribe-input" />
                <button class="subscribe-button">Subscribe</button>
            </div>
            <div class="footer-labels">
                <p class="subscribe-label">Stay updated with my work • No spam, promise.</p>
                <p class="subscribe-label">You can always shoot me a text on <a href="https://x.com/rathorehq" target="_blank" rel="noopener noreferrer">X @rathorehq</a></p>
            </div>
        </div>
    </footer>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>
